<template>
	<div class="">
  {{msg}}
	</div>
</template>

<script>
	import Vue from 'vue'
	import {Swipe, SwipeItem} from 'mint-ui'

	export default {
		name: 'nearby',
		data() {
			return {
				msg: 'nearby'
			}
		},
		mounted: function () {
			//this.tipsMssages();
		},
		methods: {
			tipsMssages: function () {
				alert("fuck,nearby");
			},
		}
	}
</script>

<style scoped>

</style>
