<template>
  <div class="hello">
    <h3>{{ msg }}</h3>
    <img src="../../static/img_04.png">
    <div :style="note" style="width: 50px; height: 50px;"></div>
    <ul>
      <li><a href="https://vuejs.org" target="_blank"> Core Docs</a>
      </li>
      <li><a href="https://forum.vuejs.org" target="_blank"> Forum</a>
      </li>
      <li><a href="https://chat.vuejs.org" target="_blank"> Community Chat</a>
      </li>
      <li><a href="https://twitter.com/vuejs" target="_blank"> Twitter</a>
      </li>
      <br>
      <li><a href="http://vuejs-templates.github.io/webpack/" target="_blank"> Docs for This Template</a>
      </li>
    </ul>
    <h2>Ecosystem</h2>
    <ul>
      <li><a href="http://router.vuejs.org/" target="_blank"> vue-router</a>
      </li>
      <li><a href="http://vuex.vuejs.org/" target="_blank"> vuex</a>
      </li>
      <li><a href="http://vue-loader.vuejs.org/" target="_blank"> vue-loader</a>
      </li>
      <li><a href="https://github.com/vuejs/awesome-vue" target="_blank"> awesome-vue</a>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from 'axios';
import mockdata from "@/api/mock";
import {Toast} from 'mint-ui';
import {Indicator} from 'mint-ui';

export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js',
      note: {
        //backgroundImage: "url(" + require("../static/img_04.png") + ")",
        backgroundImage: "url(../static/img_04.png)",
        backgroundRepeat: "no-repeat",
        backgroundSize: "50px",
      },
    }
  },
  created() {

  },
  mounted() {
    console.log(this.util.version);
    this.mintLoad()

  },

  methods: {
    mintLoad(){

      Indicator.open({
        spinnerType: 'snake'
      });

      setTimeout(()=>{
        Indicator.close();

        Toast('axios post API');
        this.postFun();
      },1000)

    },
    postFun(){
      this.$post('/msg', {id:11}).then((res) => {
        console.log(res);
      }).catch((error) => {
        console.log(error);
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
body,div {

  font-size: 16px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
