/* 共用样式  */
body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p,td{ margin:0; padding:0;font-family:Verdana,Arial,sans-serif,"Microsoft YaHei";-webkit-font-smoothing:antialiased;}
ul,li{list-style-type:none;}

.fl{float: left;}.fr{float: right;}.cl{clear: both;}.tl{text-align:left;}.tr{text-align:right;}.tc{text-align:center;}

/*换行*/
.wrap{word-wrap:break-word}

/* 去掉链接虚线框 */
a{outline:none; star:expression(this.onFocus=this.blur());}

/*去除ios浏览器默认样式-圆角*/
.clear-but{-webkit-appearance: none;}

/*省略号 单行*/
.single{overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

/*省略号 多行*/
.many{display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:3; overflow:hidden;}

/*允许独立的滚动区域和触摸回弹*/
.spring-back{-webkit-overflow-scrolling: touch;}

/*水平翻转*/
.flip-x {
    -moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
/*垂直翻转*/
.flip-y {
    -moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}
/*input里面placeholder水平居中 颜色*/
input::-ms-input-placeholder{text-align:center;}
input::-webkit-input-placeholder{text-align:center;}
::-webkit-input-placeholder{color:#ccc;}

/*元素 垂直水平居中*/
.vc{position: absolute; top: 0; right: 0; bottom: 0; left: 0; text-align: center; margin: auto;}

/*文字 垂直水平居中*/
.jc{ display: flex; align-items: center; justify-content: center; }

/*flex布局*/
.flex{display: flex;text-align: center;}
.flex div{-webkit-box-flex: 2; -ms-flex: 2; flex: 2;position: relative;}

/*inline-block布局*/
.dis{font-size: 0; text-align: left;}
.dis ul li{display: inline-block; vertical-align: top;}

/*公用样式*/
.yellow{color: #ffcc01;}
.green{color: #2dbfb2;}
.red{ color: red;}
.gray{ color: gray}
.orange{ color: orange;}
.black{ color: black; }
.mask{ position: fixed; z-index: 9999; top:0; left:0; width:100%; height:100%; background: rgba(0,0,0,0.5); }
.clearfix:before,.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}

/* scss 共用 */

//css to rem
@function torem($px){
    // iphone6的宽度除以10
    $rem: 37.5px;
    @return ($px/$rem) + rem;
}
