<template>
	<div class="">
    评论{{id}}:{{content}}
	</div>
</template>

<script>
	import Vue from 'vue'
  import { Tabbar, TabItem } from 'mint-ui';

	export default {
		name: 'HelloWorld',
        props:["id","content"],
		data() {
			return {
				msg: 'Welcome to Your Vue.js App'
			}
		},
		mounted: function () {
			//this.tipsMssages();
		},
		methods: {
			tipsMssages: function () {
				alert("fuck,this is my life");
			},
		}
	}
</script>

<style>

</style>
