<template>
  <mt-tabbar v-model="selectedId">
    <mt-tab-item id="/">
      <img slot="icon" src="../assets/logo.png">
      首页
    </mt-tab-item>
    <mt-tab-item id="/nearby">
      <img slot="icon" src="../assets/logo.png">
      附近
    </mt-tab-item>
    <mt-tab-item id="/activity">
      <img slot="icon" src="../assets/logo.png">
      活动攻略
    </mt-tab-item>
    <mt-tab-item id="/ucenter">
      <img slot="icon" src="../assets/logo.png">
      我的
    </mt-tab-item>
  </mt-tabbar>
</template>

<script>
	import Vue from 'vue'
  import { Tabbar, TabItem } from 'mint-ui';

  Vue.component(Tabbar.name, Tabbar);
  Vue.component(TabItem.name, TabItem);

	export default {
		name: 'tab-bar',
		data() {
			return {
        selectedId: this.$store.state.currRoute.path,
				msg: 'Welcome to Your Vue.js App'
			}
		},
		mounted: function () {

		},
		methods: {
      gotoPage (val){
        //通过val的值变更路由
        console.log(val);
        this.$router.push(val);
      }
		},
    watch: {
      selectedId (val) {
        this.gotoPage(val);
      }
    }
	}
</script>

<style>

</style>
