<template>
    <div id="app">
        <mt-header class='' v-if='getshowHeader' :title='$store.state.title'>
            <mt-button v-if='$store.state.prevRoute' icon="back" slot="left" @click='goBack'></mt-button>
            <!--<mt-button v-if='$store.state.currRoute.name==="ucenter"' class="iconfont icon-icon-test5 hd-right-bt"-->
            <!--slot="right" @click='$router.push("uc-set")'></mt-button>-->
        </mt-header>
        <router-view class='page'></router-view>
        <tab-bar class='' v-if='getshowBar'></tab-bar>
    </div>
</template>

<script>
    import Vue from "vue";
    import TabBar from "@/component/tabBar";
    import 'font-awesome/css/font-awesome.css';
    import {Toast, MessageBox} from "mint-ui";

    window.Vue = window.vue = Vue;
    export default {
        name: "App",
        components: {TabBar},
        data() {
            return {
                marginTopBar: "",
                marginTopHeader: ""
            };
        },
        created() {

        },
        mounted() {

        },
        methods: {
            //返回上一页
            goBack() {
                console.log('path:', this.$route.path);
                let routerName = this.$route.path;

                if (routerName == "/") {
                    this.$router.push({
                        path: "/",
                        query: {}
                    });
                } else {
                    this.$router.go(-1);
                }
            },

        },
        computed: {
            getshowBar() {
                if (!this.$store.state.showBar) {
                    this.marginTopBar = "0";
                } else {
                    this.marginTopBar = "1.74rem";
                }
                return this.$store.state.showBar;
            },
            getshowHeader() {
                if (!this.$store.state.showHeader) {
                    this.marginTopHeader = "0";
                } else {
                    this.marginTopHeader = "1.74rem";
                }
                return this.$store.state.showHeader;
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import "./assets/css/mint.css";

    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        height: 100%;
        background-color: #fff;
        overflow: hidden;
    }
</style>
