<template>
    <div class="">

        {{msg}}<br><br>
        <a style="color: red" @click="tipsMssages" class="font20">测试</a>
        <div class="f40"><i class="fa fa-user-circle-o" aria-hidden="true"></i>测试</div>
        <comment id="007" content="这是用户评论内容"></comment>
    </div>
</template>

<script>
    import Vue from 'vue'
    import {Swipe, SwipeItem} from 'mint-ui'

    import comment from '@/component/comment'


    export default {
        name: 'Home',
        components: {
            comment
        },
        data() {
            return {
                msg: 'Welcome to Your Home'
            }
        },
        mounted: function () {
            //this.tipsMssages();
        },
        methods: {
            tipsMssages: function () {
                this.$router.push('/test')
            },
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../assets/css/public.scss";
    .font20{ font-size: torem(18px);}
    .f40{ font-size: torem(40px); line-height: torem(40px)}
</style>
